<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rifasinfierno</title>

    <!--Normalize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css" integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />


    <!--Stylesheet-->
    <link rel="stylesheet" href="assets/css/inicio.min.css">
</head>

<body>

    <div id="fondo-seccion1">

        <div class="contain">

            <header id="menu" class="flex full">

                <picture class="img">
                    <source type="image/webp" srcset="assets/img/logo.webp" alt="logo" width="186" height="232">
                    <img loading="lazy" src="assets/img/logo.png" alt="logo" width="186" height="232">
                </picture>

                <div class="hamburguesa">

                    <a id="icono-menu" href="#navegacion">
                        <picture>
                            <source type="image/webp" srcset="assets/img/menu.webp" alt="menu" width="60" height="60">
                            <img loading="lazy" src="assets/img/menu.png" alt="menu" width="60" height="60">
                        </picture>
                    </a>

                    <nav id="navegacion">
                        <a href="#menu">Inicio</a>
                        <a href="#nosotros">Nosotros</a>
                        <a href="">Comprar Boletos</a>
                        <a href="#acordeon">Preguntas Frecuentes</a>
                        <a href="#footer">Contacto</a>
                        <a id="cancelar" href="#">Cancelar</a>
                    </nav>
                </div>

            </header>

            <section id="slide">

                <div class="flex right">
                    <div class="banner-box">
                        <picture class="flex right">
                            <source type="image/webp" srcset="assets/img/sorteo1.webp" alt="sorteo1" width="458" height="98">
                            <img loading="lazy" src="assets/img/sorteo1.png" alt="sorteo1" width="458" height="98">
                        </picture>
                        <p>18 JUNIO 2021</p>
                        <p class="big">$269</p>
                        <p class="small">POR BOLETO</p>
                    </div>
                </div>


            </section>

        </div>
        <!--contain-->

    </div>

    <div id="fondo-seccion2">

        <div class="contain">
            <section id="timer">
                <picture class="center">
                    <source type="image/webp" srcset="assets/img/SOLO-FALTAN.webp" alt="SOLO-FALTAN" width="614" height="98">
                    <img loading="lazy" src="assets/img/SOLO-FALTAN.png" alt="SOLO-FALTAN" width="614" height="98">
                </picture>

                <div class="wrap">

                    <div class="countdown">

                        <div class="bloc-time days">
                            <span class="count-title">DIAS</span>

                            <div class="figure hours days-1">
                                <span class="top">0</span>
                                <span class="top-back">
                                <span>0</span>
                                </span>
                                <span class="bottom">0</span>
                                <span class="bottom-back">
                                <span>0</span>
                                </span>
                            </div>

                            <div class="figure hours days-2">
                                <span class="top">0</span>
                                <span class="top-back">
                                <span>0</span>
                                </span>
                                <span class="bottom">0</span>
                                <span class="bottom-back">
                                <span>0</span>
                                </span>
                            </div>
                        </div>

                        <div class="bloc-time hours">
                            <span class="count-title">Horas</span>

                            <div class="figure hours hours-1">
                                <span class="top">0</span>
                                <span class="top-back">
                                <span>0</span>
                                </span>
                                <span class="bottom">0</span>
                                <span class="bottom-back">
                                <span>0</span>
                                </span>
                            </div>

                            <div class="figure hours hours-2">
                                <span class="top">0</span>
                                <span class="top-back">
                                <span>0</span>
                                </span>
                                <span class="bottom">0</span>
                                <span class="bottom-back">
                                <span>0</span>
                                </span>
                            </div>
                        </div>

                        <div class="bloc-time min">
                            <span class="count-title">Minutos</span>

                            <div class="figure min min-1">
                                <span class="top">0</span>
                                <span class="top-back">
                                <span>0</span>
                                </span>
                                <span class="bottom">0</span>
                                <span class="bottom-back">
                                <span>0</span>
                                </span>
                            </div>

                            <div class="figure min min-2">
                                <span class="top">0</span>
                                <span class="top-back">
                                <span>0</span>
                                </span>
                                <span class="bottom">0</span>
                                <span class="bottom-back">
                                <span>0</span>
                                </span>
                            </div>
                        </div>

                        <div class="bloc-time sec">
                            <span class="count-title">Segundos</span>

                            <div class="figure sec sec-1">
                                <span class="top">0</span>
                                <span class="top-back">
                                <span>0</span>
                                </span>
                                <span class="bottom">0</span>
                                <span class="bottom-back">
                                <span>0</span>
                                </span>
                            </div>

                            <div class="figure sec sec-2">
                                <span class="top">0</span>
                                <span class="top-back">
                                <span>0</span>
                                </span>
                                <span class="bottom">0</span>
                                <span class="bottom-back">
                                <span>0</span>
                                </span>
                            </div>
                        </div>

                    </div>

                </div>

                <picture class="center">
                    <source type="image/webp" srcset="assets/img/PARA-EL-SORTEO.webp" alt="PARA-EL-SORTEO" width="776" height="98">
                    <img loading="lazy" src="assets/img/PARA-EL-SORTEO.png" alt="PARA-EL-SORTEO" width="776" height="98">
                </picture>

                <div class="center">
                    <a href="#" class="btn sorteo">Comprar Boleto</a>
                </div>

                <form id="busca-numero" action="">
                    <label for="buscar"><p class="title big">Busca tu número de la suerte aquí:</p></label>
                    <input id="buscar" type="number" placeholder="Número de boleto (4 cifras)">
                    <p class="small">o selecciónalo en la <a href="">lista de números disponibles </a> abajo</p>
                    <input type="submit" class="btn" value="Apartar">
                </form>
            </section>
        </div>
        <!--contain-->

        <picture id="face-left">
            <source type="image/webp" srcset="assets/img/face-left.webp" alt="face-left" width="409" height="1064">
            <img loading="lazy" src="assets/img/face-left.png" alt="face-left" width="409" height="1064">
        </picture>

        <picture id="face-right">
            <source type="image/webp" srcset="assets/img/face-right.webp" alt="face-right" width="404" height="1051">
            <img loading="lazy" src="assets/img/face-right.png" alt="face-right" width="404" height="1051">
        </picture>

        <picture class="line-section">
            <source type="image/webp" srcset="assets/img/separador-main.webp" alt="separador-main" width="456" height="45">
            <img loading="lazy" src="assets/img/separador-main.png" alt="separador-main" width="456" height="45">
        </picture>

    </div>

    <div id="fondo-seccion3">
        <div class="contain">
            <section id="lista-numeros">
                <h2>LISTA DE NÚMEROS
                    <picture class="disponible">
                        <source type="image/webp" srcset="assets/img/DISPONIBLES.webp" alt="DISPONIBLES" width="614" height="98">
                        <img loading="lazy" src="assets/img/DISPONIBLES.png" alt="DISPONIBLES" width="614" height="98">
                    </picture>
                </h2>

                <div class="flex between">
                    <p class="green">Números disponibles</p>
                    <p class="red">Números vendidos</p>
                </div>

                <div class="numeros middle">
                    <div class="flex">
                        <div class="ellipse green">1000</div>
                        <div class="ellipse green">1001</div>
                        <div class="ellipse green">1002</div>
                        <div class="ellipse red">1003</div>
                        <div class="ellipse green">1004</div>
                        <div class="ellipse green">1005</div>
                        <div class="ellipse green">1000</div>
                        <div class="ellipse red">1001</div>
                        <div class="ellipse green">1002</div>
                        <div class="ellipse green">1003</div>
                        <div class="ellipse green">1004</div>
                        <div class="ellipse green">1005</div>
                        <div class="ellipse green">1000</div>
                        <div class="ellipse green">1001</div>
                        <div class="ellipse green">1002</div>
                        <div class="ellipse green">1003</div>
                        <div class="ellipse green">1004</div>
                        <div class="ellipse red">1005</div>
                    </div>

                </div>

            </section>

            <section id="paga-boleto">
                <h2>PAGA TU BOLETO</h2>
                <p>Realiza tu pago lo más pronto posible por cualquiera de estas vías:</p>

                <div class="grid column3">

                    <div class="flex full">
                        <picture class="center">
                            <source type="image/webp" srcset="assets/img/tarjeta-bancaria.webp" alt="tarjeta-bancaria" width="199" height="186">
                            <img loading="lazy" src="assets/img/tarjeta-bancaria.png" alt="tarjeta-bancaria" width="199" height="186">
                        </picture>
                        <p>Tarjetas Bancarias</p>
                    </div>

                    <div class="flex full">
                        <picture class="center">
                            <source type="image/webp" srcset="assets/img/transferencia.webp" alt="transferencia" width="183" height="183">
                            <img loading="lazy" src="assets/img/transferencia.png" alt="transferencia" width="183" height="183">
                        </picture>
                        <p>Transferencia</p>
                    </div>

                    <div class="flex full">
                        <picture class="center">
                            <source type="image/webp" srcset="assets/img/deposito.webp" alt="deposito" width="168" height="157">
                            <img loading="lazy" src="assets/img/deposito.png" alt="deposito" width="168" height="157">
                        </picture>
                        <p>Depósito bancario</p>
                    </div>
                </div>
            </section>

            <section id="comprobante">
                <p class="title middle">Envía tu comprobante junto con el número de boleto que deseas comprar a nuestro</p>
                <div class="center">
                    <a href="https://wa.me/52562574814?text=%C2%A1Rifas%20Infierno!" class="btn whats">
                        <div class="flex">
                            <picture class="center">
                                <source type="image/webp" srcset="assets/img/WA.webp" alt="WA" width="41" height="41">
                                <img loading="lazy" src="assets/img/SOLO-FALTAN.png" alt="SOLO-FALTAN" width="41" height="41">
                            </picture>
                            <p>562 57 4814</p>
                        </div>
                    </a>
                </div>

            </section>
        </div>
    </div>

    <div id="fondo-seccion4">
        <div class="contain">

            <section id="acordeon">
                <h2>Preguntas
                    <picture class="disponible">
                        <source type="image/webp" srcset="assets/img/frecuentes.webp" alt="frecuentes" width="425" height="78">
                        <img loading="lazy" src="assets/img/frecuentes.png" alt="frecuentes" width="425" height="78">
                    </picture>
                </h2>

                <div class="ac-container">
                    <div class="box">
                        <input id="ac-1" name="accordion-1" type="checkbox" />
                        <label for="ac-1">¿CÓMO SE ELIGE A LOS GANADORES?</label>
                        <article class="ac-medium">
                            <p>Todos nuestros sorteos se realizan en coordinación con los sorteos de la <a href="https://www.lotenal.gob.mx/Comercial/index.html">Lotería Nacional para la Asistencia Pública</a></p>
                            <p>El ganador de Rifas Infierno será el participante cuyo número de boleto coincida con las últimas cuatro cifras del primer premio ganador de alguno de los sorteos de la Lotería Nacional.</p>
                        </article>
                    </div>

                    <div class="box">
                        <input id="ac-2" name="accordion-1" type="checkbox" />
                        <label for="ac-2">¿QUÉ SUCEDE CUANDO EL NÚMERO GANADOR ES UN BOLETO NO VENDIDO?</label>
                        <article class="ac-medium">
                            <p>Se elige un nuevo ganador realizando la misma dinámica en otra fecha cercana (se anunciará la nueva fecha).</p>
                            <p>Esto significa que, ¡Tendrías el doble de oportunidades de ganar con el mismo boleto!</p>
                        </article>
                    </div>

                    <div class="box">
                        <input id="ac-3" name="accordion-1" type="checkbox" />
                        <label for="ac-3">¿DÓNDE SE PUBLICA A LOS GANADORES?</label>
                        <article class="ac-medium">
                            <p>Los números ganadores, la entrega de premios y los próximos sorteos se estarán publicando en nuestra página oficial de Facebook <a href="https://www.facebook.com/RifasInfiernoCapitalMX">Rifas Infierno</a></p>
                            <p><a href="https://www.facebook.com/RifasInfiernoCapitalMX">¡Síguenos</a> para estar al tanto de todo!</p>
                        </article>
                    </div>

                    <div class="box">
                        <input id="ac-4" name="accordion-1" type="checkbox" />
                        <label for="ac-4">¿CÓMO PARTICIPAR?</label>
                        <article class="ac-large">
                            <p>Es muy fácil!</p>
                            <p>1. Busca tu número de la suerte y haz clic en [apartar]</p>
                            <p>2. Realiza tu pago lo más pronto posible</p>
                            <p>3. Envía tu comprobante al <a href="https://wa.me/52562574814?text=%C2%A1Rifas%20Infierno!">whatsapp</a> junto con el número que apartaste</p>
                            <p>4. Te enviaremos un comprobante de reserva a tu whatsapp</p>
                            <p>¡Y listo! ya estarás participando en la rifa de este fabuloso premio</p>
                        </article>
                    </div>

                </div>

                <picture class="line-section">
                    <source type="image/webp" srcset="assets/img/separador-main.webp" alt="separador-main" width="456" height="45">
                    <img loading="lazy" src="assets/img/separador-main.png" alt="separador-main" width="456" height="45">
                </picture>

            </section>

            <section id="nosotros">

                <picture class="img center">
                    <source type="image/webp" srcset="assets/img/NOSOTROS.webp" alt="NOSOTROS" width="378" height="78">
                    <img loading="lazy" src="assets/img/NOSOTROS.png" alt="NOSOTROS" width="378" height="78">
                </picture>

                <div class="box middle">

                    <p>Somos <span class="red">Rifas Infierno</span> tenemos los mejores <span class="red it">SORTEOS y PREMIOS</span> para ti </p>

                    <p>¡Atrévete a participar y <span class="small">ganar!</p>

                    <p class="title big">¡COMPRA TU BOLETO HOY MISMO!</span></p>

                    <div class="center">
                        <a href="#" class="btn sorteo">Comprar Boleto</a>
                    </div>


                </div>
                <!--box-->
            </section>

        </div>
    </div>

    <div id="bases-sorteo" class="template-section">

        <div class="block middle">
            <h2>Bases del Sorteo</h2>
            <ul class="list">
                <li>
                    <p>El ganador de cada sorteo será el participante cuyo número de boleto coincida con las últimas cuatro cifras del primer premio ganador del Sorteo de la Lotería Nacional según las fechas indicadas abajo.</p>
                </li>
                <p>​*En caso de suspensión o cancelación de alguno de los sorteos de la Lotería Nacional en las fechas indicadas, se anunciará en nuestras redes sociales la forma de proceder.</p>
                <li>
                    <p>Solamente participan personas mayores de edad (+18 años) que hayan liquidado el costo de su boleto antes del inicio de cada sorteo, y hayan proporcionado los datos requeridos en la forma de registro de la siguiente liga [apartar]</p>
                </li>
                <li>
                    <p>Las compras de boleto no se considerarán realizadas hasta el momento en el que RIFAS INFIERNO reciba enteramente el pago y confirme la compra. Por lo tanto, en caso de cualquier disputa, los números de boleto elegidos se asignarán
                        al participante que haya reservado y pagado primero los boletos en disputa, sin responsabilidad alguna para RIFAS INFIERNO.</p>
                </li>
                <li>
                    <p>El participante podrá verificar su participación en la siguiente liga introduciendo su número de boleto en el [verificador]</p>
                </li>
                <li>
                    <p>Si en algún momento el usuario o participante no estuviera de acuerdo total o parcialmente con los términos de las presentes BASES DEL SORTEO, deberá abstenerse de participar.</p>
                </li>
            </ul>

            <img class="cancel" src="assets/img/cancel.svg" alt="cancel">
        </div>


    </div>

    <footer id="footer">
        <div class="contain">

            <div class="flex full">

                <div class="up">

                    <p class="title">CONTÁCTANOS</p>
                    <p class="small">¿Aún tienes dudas? Envíanos tus preguntas a</p>

                    <div class="center">
                        <a href="https://wa.me/52562574814?text=%C2%A1Rifas%20Infierno!" class="btn whats">
                            <div class="flex">
                                <picture class="center">
                                    <source type="image/webp" srcset="assets/img/WA.webp" alt="WA" width="41" height="41">
                                    <img loading="lazy" src="assets/img/WA.png" alt="WA" width="41" height="41">
                                </picture>
                                <p>562 57 4814</p>
                            </div>
                        </a>
                    </div>

                    <div class="center">
                        <a href="https://www.facebook.com/RifasInfiernoCapitalMX">
                            <picture>
                                <source type="image/webp" srcset="assets/img/facebook.webp" alt="facebook" width="56" height="56">
                                <img loading="lazy" src="assets/img/facebook.png" alt="facebook" width="56" height="56">
                            </picture>
                        </a>
                    </div>
                </div>

                <div class="down">

                    <div class="center">
                        <a href="">AVISO DE PRIVACIDAD</a>|<a id="enlace-base" href="#bases-sorteo">BASES DEL SORTEO</a>
                    </div>

                    <p>Todos los derechos reservados 2021 / Esta web <a href="https://esbrillante.mx/">EsBrillante</a></p>
                </div>
            </div>


        </div>
    </footer>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="../assets/js/countdown.js"></script>
    <script src="../assets/js/modal-box.js"></script>
    <script src="../assets/js/modernizr-webp.js"></script>


</body>

</html>