@media (min-width: 1863px) {

     /* Ajustes Generales
   ========================================================================== */
    body {
        font-size: 2rem;
    }

    a {
        font-size: 1.8rem;
    }  
}

@media (max-width: 1024px) {

   /* Layout
   ========================================================================== */
   .contain {
        padding: 0 3rem;
    }   
}

@media (max-width: 900px) {

   /* Layout
   ========================================================================== */
   .banner-box {
         max-width: 100%;
    }

    .flex.right {    
        justify-content: center;        
    }

    .btn {
        font-size: 4rem;
    }

    .btn.sorteo {
        padding: 5rem 7rem;       
    }
}

@media (max-width: 480px) {

    section {
        padding: 0 0 12rem;
    }

    h2 {
        font-size: 3rem;
    }

    img,
    source {
        height: auto;
    }

   /* Layout
   ========================================================================== */
   .banner-box {
        width: 95%;
    }

    .grid.column3 {
        grid-template-columns: 1fr;
    }

    .btn {
        font-size: 1.4em;

        &.sorteo {
            font-size: 1.4em;
            padding: 2rem;
        }

        &.whats {
            font-size: 2rem;
            padding: 1.2rem 3rem;
        }
    }    
}